/*- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  --primary-color: #3498db;
}

body {
  color: #555; /* Steel Gray */
  font-family: "Roboto", sans-serif;
  background-color: #ecedee;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  font-size: 18px !important;
  font-weight: 500;
}

/* .head-section {
  background-image: linear-gradient(180deg, #c4b6fd, #93acfc); 
} */

.navbar-brand,
.text-primary {
  color: #0a58ca !important;
}

.btn-primary {
  background-color: #0a58ca !important;
  border: none;
}

.nav-link:hover {
  color: #0a58ca;
}

p {
  font-size: 18px;
}
.btn-primary:hover {
  background-color: #257dfd !important;
}

.blue-bg {
  background-color: #0a58ca;
  color: #fff;
}

.ionicons {
  color: #0a58ca;
  background-color: #f2f2f2;
  padding: 10px;
  height: 30px;
  width: 30px;
  margin-bottom: 12px;
}

.nav-tabs {
  border: none;
}

.nav-tabs .active {
  background-color: #0a58ca !important;
  border: none;
  color: #fff !important;
}

.footer-section {
  background-color: #6394de !important;
  border: none;
  color: #fff !important;
}

.car-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.profile {
  position: relative;
}

.profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;

}
 .profile .profile-link {
  position: absolute;
  z-index: 1;
  right: 0;
  background: var(--light);
  padding: 10px 0;
  box-shadow: 4px 4px 16px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 160px;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;

}

.profile .profile-link.show {
  opacity: 1;
  pointer-events: visible;
  top: 100%;
  background-color: #90afde;
  color: black;
}


.profile .profile-link a {
  padding: 10px 16px;
  display: flex;
  grid-gap: 10px;
  font-size: 14px;
  color: var(--dark);
  align-items: center;
  transition: all .3s ease;

}

.profile .profile-link a:hover {
  background: var(--gray);
}



.car-card:hover {
  transform: translateY(-10px);
}

.car-card img{
  height: 250px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.card-body {
  padding: 15px;
}
i {
  color: rgb(59, 59, 207);
}

.dashed-border {
  border: 2px dashed #407ad6;
  padding: 1px 10px;
  display: inline-block;
  font-size: 1rem;
  border-radius: 15px;

}


 .search-box {
  display: flex;
  gap: 20px;
  align-items: center;
}

 .search-box input,
 .search-box select {
  width: 100%;
}
 .search-box .btn-primary {
  border: none;
}

 .search-box .btn-primary:hover {
  background-color: #1432bc;
}

.input-group-text {
  font-size: 1.2rem;
}
